<div class="d-flex justify-content-center">
  <div class="row">
    <div class="col">
      <h1>Best_Games</h1>

      <p>Best_Games では、</br>
         さまざまな素晴らしいゲームについての意見や感想を共有できます。</p>

      <%= link_to "Log in", new_user_session_path, class: "btn btn-outline-info w-100" %>
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-outline-success w-100 my-3" %>
    </div>
  </div>
</div>