<div class="d-flex justify-content-center">
  <div class="row">
    <div class="col">

      <p>「面白い」「神ゲー」と思ったゲームを誰かと共有したい！<br />
      もっといろんな人に知ってほしい！そう思ったことはありませんか？<br />
      このコミュニティサイトは、そんな方のために存在しています。<br />
      また、面白そうなゲームを探したい方にもご利用いただけます。</p>

    </div>
  </div>
</div>